# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Amali\Desktop\MyStudies_CS\IJSE-DEP5\DEP5_Lec\16.Angular\Projects\task1\nodeapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
